@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-primary {
      @apply bg-sky-500 text-white font-medium text-lg rounded-xl px-5 py-2 text-center mr-2 hover:bg-sky-700  drop-shadow-[0px_0_4px_#0ea5e9] border-2 border-sky-400;
    }

    html {
      @apply font-body;
    }
    
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    100% {
      transform: scaleY(1)
    }
  }

  @keyframes growUp {
    100% {
      transform: scaleY(0)
    }
    0% {
      transform: scaleY(1)
    }
  }